h2 {
  background-color: #a2d9ce;
  padding: 20px;
  border-radius: 10px;
  color: rgb(10, 97, 97);
  font-style: italic;
  width: 50%;
  margin: 3% auto;
}

form {
  background-color: #caefe8;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  margin: 0 auto;

}

label {
  color: #eb984e;
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
}

.btn {
  background-color: rgb(19, 84, 84);
  border: 0;
  padding: 10px;
  color: #fff;
  font-size: 18px;
}

.btn:hover {
  background-color: #eb984e;
  color: #fff;
  transition: 0.5s;
}

table thead tr th {
  background-color: #caefe8 !important;
  font-size: 20px;
  color: #eb984e !important;
  font-weight: 600;
  font-style: italic;
}
h3 {
  background-color:#a2d9ce;
  padding: 20px;
  border-radius: 10px;
  color: rgb(10, 97, 97);
  font-style: italic;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}


table tbody tr td{
 font-size: 17px;
 background-color: rgb(197, 235, 235) !important;
 color: rgb(19, 84, 84) !important;
 font-weight: 500;
 
}

.form-control {
  width: 100%;
  
}
